.homeCategoriseDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.homeCategoriseDiv > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 222px;
	margin-bottom: 15px;
	padding: 10px 10px;
	background-color: #fff;
	box-shadow: 1px 2px 3px 2px #ded9d9;
	cursor: pointer;
	transition: 0.3s;
}

.homeCategoriseDiv > div:hover {
	transform: scale(1.1);
}

.homeCategoriseDiv > div > div {
	display: flex;
	align-items: center;
}

.homeCategoriseDiv > div > div > img {
	width: 40px;
	height: 40px;
}

@media (max-width: 512px) {
	.homeCategoriseDiv > div {
		width: 180px;
	}
}

@media (max-width: 422px) {
	.homeCategoriseDiv > div {
		width: 160px;
	}
}

@media (max-width: 380px) {
	.homeCategoriseDiv > div {
		width: 300px;
	}
}
